li.header dl.row-item dt .list-inner {
	padding-left: 9%;
}
.joined
{
	width:15%;
	text-align:center;
	font-size: 1.1em;
}
/* Sortable ******************/
#sortable li {
	padding-left: 1px;
}
#sortable li span {
	cursor: move;
}

dd.posts, dd.topics, dd.views {
    width: 74px;
}