li.header dl.row-item dt .list-inner {
	padding-left: 9%;
}
.joined
{
	width:15%;
	text-align:center;
	font-size: 1.1em;
}
/* Sortable ******************/
#sortable li {
	padding-left: 5px;
}
#sortable li span {
	width: 8%;
	float: left;
	cursor: move;
}

dl.row-item dt {
	max-width: 96%;
}

dd.posts {
	width: 120px;
}

dd.views {
	width: 60px;
}

@media (max-width: 995px) and (min-width: 961px) {
	.row-item div {
		margin-right: 440px;
	}
}

@media (max-width: 960px) and (min-width: 701px) {
	.row-item div {
		margin-right: 410px;
	}
}

@media (max-width: 1060px) and (min-width: 951px) {
	#sortable li span {
		width: 10%;
	}
}

@media (max-width: 950px) and (min-width: 701px) {
	#sortable li span {
		width: 13%;
	}
}

@media (max-width: 700px) {
	dl.row-item dt {
		max-width: 100%;
	}

	#sortable li span {
		width: 16%;
	}
}