<!-- INCLUDE overall_header.html -->
<style>
.copied::after {
	content: "{L_COPYED}";
}
</style>
<div class="kb_print"><a href="{U_PRINT}"><strong>{L_PRINT}</strong></a></div>

<div id="page-body">
	<div class="clear"></div>
	<div class="post bg2">
		<div class="inner">
			<div class="postbody" style="width: 100%;">
				<ul class="post-buttons">
					<!-- IF not S_APPROVED and S_CAN_APPROOVE -->
					<li>
						<a href="{U_APPROVE_ART}" title="{L_NEED_APPROOVE}" class="button button-icon-only"><i class="icon fa-check fa-fw" aria-hidden="true"></i><span class="sr-only">{L_NEED_APPROOVE}</span></a>
					</li>
					<!-- ENDIF -->
					<!-- IF S_CAN_EDIT -->
					<li>
						<a href="{U_EDIT_ART}" title="{L_EDIT}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_EDIT}</span></a>
					</li>
					<!-- ENDIF -->
					<!-- IF S_CAN_DELETE -->
					<li>
						<a href="{U_DELETE_ART}" title="{L_DELETE}" class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true" style="color: #AA0000;"></i></i><span class="sr-only">{L_DELETE}</span></a>
					</li>
					<!-- ENDIF -->
				</ul>
				<h3 class="first">{ARTICLE_TITLE}</h3>
				<br clear="all">
				<p style="margin: 0px; float:left;"><strong>{L_ARTICLE_DESCRIPTION}{L_COLON}</strong> {ARTICLE_DESCRIPTION}</p>
				<p class="author" style="line-height: 1.5em; float:right">
					<strong>{L_ARTICLE_AUTHOR}{L_COLON}</strong> {ARTICLE_AUTHOR}<br />
					<strong>{L_ARTICLE_DATE}{L_COLON}</strong> {ARTICLE_DATE}<br />
					<strong>{L_VIEWS}{L_COLON}</strong> {VIEWS}<br />
					<strong>{L_CATEGORY}{L_COLON}</strong> {ARTICLE_CATEGORY}
				</p>
				<div class="codebox" style="float:left; font-size: 1.1em;">
					<p>{L_LINK_TO_ARTICLE}{L_COLON} <a class="buttoncopy" data-copytarget="#bbcode">{L_COPY_TO_BUFFER}</a></p>
					<code style="font-size: 1.1em; display:contents">{U_ARTICLE}</code>
					<input value="{U_ARTICLE}" id="bbcode" type="text">
				</div>
				<br clear="all">
				<div class="codebox" style="float:left; font-size: 1.1em;margin-top: -12px;margin-bottom: -6px;">
					<p>{L_DIRECT_LINK}{L_COLON} <a class="buttoncopy" data-copytarget="#link">{L_COPY_TO_BUFFER}</a></p>
					<code style="font-size: 1.1em; display:contents">{U_DIRECT_LINK}</code>
					<input value="{U_DIRECT_LINK}" id="link" type="text">
				</div>

				<div class="content">
					<!-- IF .postrow --><p style="margin-top: 1em;"><strong>{COMMENTS}</strong></p><!-- ENDIF -->
					<hr />
					{ARTICLE_TEXT}
				</div>
			</div>
		</div>
	</div>

	<form method="post" name="jumpbox" action="{S_ACTION}" onsubmit="if(document.jumpbox.id.value == -1){return false;}">
		<fieldset style="float:right; margin: 5px 0px" class="jumpbox">
			<label for="id" accesskey="j">{L_GO}{L_COLON}</label>
			<select name="id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			{CATS_BOX}</select>
			<input type="submit" value="{L_GO}" class="button2">
		</fieldset>
	</form>

<!-- IF .postrow -->
	<table class="table1" cellspacing="1">
		<tr>
			<th><strong>{L_COMMENTS}</strong></th>
		</tr>
		<!-- BEGIN postrow -->
		<tr class="bg2">
			<td><strong>{postrow.POSTER_NAME}</strong>, {L_POSTED}{L_COLON} {postrow.POST_DATE}&nbsp;&nbsp;&nbsp;<strong>{L_POST_SUBJECT}</strong>{L_COLON} {postrow.POST_SUBJECT}</td>
		</tr>
		<tr>
			<td><span class="postbody">{postrow.MESSAGE}</span></td>
		</tr>
		<!-- END postrow -->
	</table>
<!-- ENDIF -->
	<hr />
	<div style="margin-top:10px">
		<!-- IF .postrow --><strong>{COMMENTS}</strong>&nbsp;<!-- ENDIF --><a href="{U_COMMENTS}"><strong>{COUNT_COMMENTS}</strong></a><br />
	</div>
</div>
<br />
<!-- INCLUDE overall_footer.html -->
