<!-- INCLUDE overall_header.html -->

<div id="page-body">
	<h2>
		<a href="{U_LIBRARY}" class="nav">{L_LIBRARY}</a>
	</h2>

	<div class="panel">
		<div class="inner">
			<form method="post" action="{S_ACTION}">
			<p style="text-align: center;">{L_APPROVE}?</p>
			<fieldset style="border: none;" class="submit-buttons">
				<input class="button1" type="submit" id="continue" name="approve" value="{L_APPROVE}" />&nbsp;
					<input class="button2" type="submit" id="cancel" name="disapprove" value="{L_DISAPPROVE}" />
			</fieldset>
			</form>
		</div>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
