<!-- INCLUDE overall_header.html -->

<div id="page-body">
	<h2>
		<a href="{U_LIBRARY}" class="nav">{L_LIBRARY}</a>
	</h2>
	<!-- IF .cat_row -->
	<div class="forabg" style="margin-top: 5px">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="posts">
						<dt>{L_CATEGORY}</dt>
						<dd class="posts">{L_ARTICLES}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<!-- BEGIN cat_row -->
				<li class="row">
					<dl>
						<dt style="padding-left: 5px;">
							<a href="{cat_row.U_CAT}" class="forumtitle">{cat_row.CAT_NAME}</a>
							<!-- IF cat_row.CAT_DESCRIPTION --><br />{cat_row.CAT_DESCRIPTION}<!-- ENDIF -->
							<!-- IF cat_row.SUBCATS --><br /><span>{cat_row.SUBCATS}</span><!-- ENDIF -->
						</dt>
							<dd class="topics">{cat_row.ARTICLES}</dd>
					</dl>
				</li>
				<!-- END cat_row -->
			</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<div class="pagination">
		{TOTAL_ITEMS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
	<div class="action-bar top">
	<!-- IF S_CAN_ADD -->
		<div class="buttons">
			<a href="{U_ADD_ARTICLE}" class="button" title="{L_ADD_ARTICLE}">
				<span>{L_ADD_ARTICLE}</span> <i class="icon fa-file-text-o fa-fw" aria-hidden="true"></i>
			</a>
		</div>
		<!-- ENDIF -->
		<!-- IF S_IS_SEARCH -->
		<div class="search-box">
			<form method="get" id="forum-search" action="{S_KB_SEARCH_ACTION}">
				<fieldset>
					<input class="inputbox search tiny" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_IN_CAT}" type="search">

					<button class="button button-search" type="submit" title="{L_SEARCH}">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
					</button>
					<a href="{U_KB_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}">
						<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
					</a>
					<input type="hidden" name="sf" value="articles">
					<input type="hidden" name="cid" value="{CATEGORY_ID}">
				</fieldset>
			</form>
		</div>
		<!-- ENDIF -->
	</div>

	<h2>{CATEGORY}</h2>

	<div class="forumbg" id="forumbg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt><div class="list-inner">&nbsp;{L_ARTICLE}</div></dt>
						<dd class="posts">{L_ARTICLE_AUTHOR}</dd>
						<dd class="joined">{L_ARTICLE_DATE}</dd>
						<dd class="views">{L_VIEWS}</dd>
					</dl>
				</li>
			</ul>
		<ul class="topiclist topics"<!-- IF S_CAN_MOVE--> id="sortable"<!-- ENDIF -->>
		<!-- BEGIN art_row -->
			<li class="row<!-- IF art_row.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->" id="{art_row.ID}">
				<dl class="row-item">
					<dt>
						<div>
							<a class="topictitle" href="{art_row.U_ARTICLE}">{art_row.ARTICLE_TITLE}</a>
						</div>
					</dt>
					<dd class="posts">{art_row.ARTICLE_AUTHOR}</dd>
					<dd class="joined">{art_row.ARTICLE_DATE}</dd>
					<dd class="views">{art_row.ART_VIEWS}</dd>
					<dd>
						<ul class="post-buttons">
						<!-- IF S_CAN_MOVE-->				<li id="move"><a href="#"	title="{L_MOVE_DRAGNDROP}"			class="button button-icon-only"><i class="icon fa-arrows fa-fw" aria-hidden="true" style="color: #00801D;"></i></i><span class="sr-only">{L_MOVE}</span></a></li></li><!-- ENDIF -->
						<!-- IF art_row.S_CAN_DELETE -->	<li><a href="{art_row.U_DELETE}"	title="{L_DELETE}"			class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true" style="color: #AA0000;"></i></i><span class="sr-only">{L_DELETE}</span></a></li><!-- ENDIF -->
						<!-- IF art_row.S_CAN_EDIT -->		<li><a href="{art_row.U_EDIT_ART}"	title="{L_EDIT}"			class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_EDIT}</span></a></li><!-- ENDIF -->
						<!-- IF not art_row.S_APPROVED -->	<li><a href="{art_row.U_ARTICLE}"	title="{L_NEED_APPROOVE}"	class="button button-icon-only"><i class="icon fa-check fa-fw" aria-hidden="true"></i><span class="sr-only">{L_NEED_APPROOVE}</span></a></li><!-- ENDIF -->
						</ul>
					</dd>
				</dl>
			</li>
		<!-- END art_row -->
		<!-- BEGIN no_articles -->
		<dl class="row-item">
			<li class="row bg2">
				<dl class="row-item">
					<dt style="min-height: 18px;">
						{no_articles.COMMENT}
					</dt>
				</dl>
			</li>
		</dl>
		<!-- END no_articles -->
		</ul>
	</div>
</div>
	<div class="pagination">
		{TOTAL_ITEMS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
	<div id="page" style="display:none">{CURRENT_PAGE_NUMBER}</div>
	<br clear="all" />
	<form method="post" name="jumpbox" action="{S_ACTION}" onsubmit="if(document.jumpbox.id.value == -1){return false;}">
		<fieldset style="float:right; margin: 5px 0px" class="jumpbox">
			<label for="id" accesskey="j">{L_GO}{L_COLON}</label>
			<select name="id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			{CATS_BOX}</select>
			<input type="submit" value="{L_GO}" class="button2">
		</fieldset>

		<div class="dropdown">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
				<!-- BEGIN jumpbox_forums -->
				<!-- IF jumpbox_forums.FORUM_ID neq -1 -->
				<li><a href="{jumpbox_forums.LINK}" class="<!-- IF jumpbox_forums.level -->jumpbox-sub-link<!-- ELSEIF jumpbox_forums.S_IS_CAT -->jumpbox-cat-link<!-- ELSE -->jumpbox-forum-link<!-- ENDIF -->"><!-- BEGIN level --><span class="spacer"></span><!-- END level --> <span><!-- IF jumpbox_forums.level --><!-- IF S_CONTENT_DIRECTION eq 'rtl' -->&#8626;<!-- ELSE -->&#8627;<!-- ENDIF --> &nbsp;<!-- ENDIF --> {jumpbox_forums.FORUM_NAME}</span></a></li>
				<!-- ENDIF -->
				<!-- END jumpbox_forums -->
			</ul>
		</div>
	</form>
	<div class="stat-block permissions">
		<h3>{L_KB_PERMISSIONS}</h3>
		<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
